{% extends 'base.html.twig' %}

{% block title %}Ajout Tarif Motif{% endblock %}

{% block body %}
    <div class="box-header">Ajout Tarif Motif</div><br>

    {{ include('ct_motif_tarif/_form.html.twig') }}
            </td>
            <td style="width:150px;">
    <a href="{{ path('app_ct_motif_tarif_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
