<form method="post" action="{{ path('app_ct_utilisation_delete', {'id': ct_utilisation.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_utilisation.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
