{% extends 'base.html.twig' %}

{% block title %}Tableau De Bord{% endblock %}

{% block app_ct %}
<div class="box fond_tableau_de_bord">
    <div class="box-header">STATISTIQUE GENERALE</div>
    <br>
    <div class="box-body">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>899</h3>
                    <p>Visite technique</p>
                </div>
                <div class="icon">
                    <i class="ion ion-settings"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>133</h3>
                    <p>Réception</p>
                </div>
                <div class="icon">
                    <i class="ion ion-archive"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-gray">
                <div class="inner">
                    <h3>50</h3>
                    <p>Carte grise</p>
                </div>
                <div class="icon">
                    <i class="ion ion-card"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>40</h3>
                    <p>Contre visite</p>
                </div>
                <div class="icon">
                    <i class="ion ion-clipboard"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>20</h3>
                    <p>Constatation avant dédouanement</p>
                </div>
                <div class="icon">
                    <i class="ion ion-clipboard"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
