{% extends 'base.html.twig' %}

{% block title %}Edition secrétaire{% endblock %}

{% block app_ct %}
<div class="box">
    <div class="box-header">EDITION SECRETAIRE</div><br>

            {{ include('ct_user/_form.html.twig', {'button_label': 'Modifier'}) }}
                    </td>
                    <td style="width:150px;">
            <a href="{{ path('app_ct_app_administration_liste_secretaire') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
                    </td>
                    <td style="width:150px;">
            <a href="{{ path('app_ct_app_administration_del_secretaire', {'id': ct_user.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}