{% extends 'base.html.twig' %}

{% block title %}Edition Autre{% endblock %}

{% block body %}
    <div class="box-header">Edition Autre Donnée</div><br>

    {{ include('ct_autre/_form.html.twig', {'button_label': 'Modifier'}) }}
            </td>
            <td style="width:150px;">
    <a href="{{ path('app_ct_autre_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
            </td>
            <td style="width:150px;">
    {{ include('ct_autre/_delete_form.html.twig') }}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
