{% extends 'base.html.twig' %}

{% block title %}Edition Zone Desserté{% endblock %}

{% block body %}
    <div class="box-header">Edition Zone Desserté</div><br>

    {{ include('ct_zone_desserte/_form.html.twig', {'button_label': 'Modifier'}) }}
            </td>
            <td style="width:150px;">
    <a href="{{ path('app_ct_zone_desserte_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
            </td>
            <td style="width:150px;">
    {{ include('ct_zone_desserte/_delete_form.html.twig') }}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}